body {
    background-color: #778899;
    /* background-color: #aa8484; */
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.heading {
    font-size: 64pt;
}

#turn {
    font-size: 32pt;
}

#start-buttons {
    margin-bottom: 30px;
}

button {
    font-size: 24pt;
}

.grid-container {
    margin: auto;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    /* background-color: #f32121; */
    padding: 10px;
}

.grid-item {
    background-color: #d4d4d4;
    border: 1px solid #000000;
    padding: 20px;
    font-size: 128pt;
    height: 150px;
    width: 150px;
    line-height: 150px;
}

.hover {
    background-color: #f2f2f2;
}

@media only screen and (max-width: 768px) {
    .grid-item {
        font-size: 175pt;
        height: 200px;
        width: 200px;
        line-height: 200px;
    }
}

@media only screen and (max-width: 980px) {

}